header {
    display: flex;
    flex-direction: column;
}

.name {
    font-size: 1.3em;
    color: $primary;
}

header a {
    font-size: 0.8em;
    color: white;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: $primary;
}