.project {
    margin: 30px 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px $secondary;
    padding: 10px;
}

.project img {
    width: 100%;
}

.project button {
    border: none;
    margin: 10px;
    padding: 10px;
    font-size: 0.8em;
    border-radius: 5px;
}

.project button:hover {
    color: $tertiary;
    background-color: $primary;
    cursor: pointer;
}